[Desktop Entry]
GenericName=Color temperature adjustment
Name=Redshift
Icon=redshift
Exec=redshift-gtk -l 38.926660:-77.038578
Terminal=false
Categories=Utility;
X-GNOME-Autostart-enabled=false
Version=1.0
StartupNotify=true
Hidden=true
Comment=Color temperature adjustment tool
Type=Application

